<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/bootstrap-3.3.7/bootstrap.min.css' />
  <link rel='stylesheet' href='/stylesheets/font-awesome-3.2.1/font-awesome.min.css' />
  <link rel="stylesheet" href="/stylesheets/googleapis/googleapis.css" />
  <link rel="stylesheet" href="/stylesheets/ace/ace.min.css" />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/jquery-2.2.0/jquery-2.2.0.min.js"></script>
<!--  <script src="/javascripts/vuejs/vue.js"></script>-->
<!--  <script src="/javascripts/layer/layer.js"></script>-->
  <link rel="stylesheet" href='/stylesheets/login.css'>
</head>
<body class="login-layout">
<div class="main-container" id="app">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-10 col-sm-offset-1">
        <div class="login-container">
          <div class="center">
            <h1 style="color: #ffffff">
              BankWorker
            </h1>
          </div>

          <div class="space-6"></div>

          <div class="position-relative">
            <div id="login-box" class="login-box visible widget-box no-border">
              <div class="widget-body">
                <div class="widget-main">
                  <h4 class="header blue lighter bigger">
                    管理员后台管理系统
                  </h4>

                  <div class="alert alert-warning alert-dismissible hidden" role="alert">
                    <strong>提示!</strong>
                    <span></span>
                  </div>
                  <div class="space-6"></div>
                  <form>
                    <fieldset>
                      <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="text" class="form-control" maxlength="11" v-model="cellphone" placeholder="手机号" autofocus />
                            <i class="icon-user"></i>
                          </span>
                      </label>
                      <label class="block clearfix">
                          <span class="block input-icon input-icon-right">
                            <input type="password" class="form-control" maxlength="15" v-model="password" placeholder="密码" />
                            <i class="icon-lock"></i>
                          </span>
                      </label>
                      <div class="clearfix">
                        <button type="button" class="pull-right btn btn-sm btn-primary btn-block" :disabled="!enabledSave" @click="onLogin">
                          <i class="icon-key"></i>
                          登陆
                        </button>
                      </div>
                      <div class="space-12"></div>

                    </fieldset>
                  </form>
                </div>
              </div><!-- /widget-body -->
            </div><!-- /login-box -->
          </div><!-- /position-relative -->

          <div class="footer">&copy; 西安樱桃谷信息技术有限公司</div>
        </div>
      </div><!-- /.col -->

    </div><!-- /.row -->

  </div>
</div><!-- /.main-container -->
<script src="/javascripts/view/common.js"></script>
<!--<script src="/javascripts/view/login.js"></script>-->
</body>
</html>